body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cajaSubseccion {
	padding: 0%;
	width: 65%;
}

#Cupones {
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	padding-bottom: 2%;
}

#TextosEncabezado {
	height: 17%;
	font-size: 1em;
	display: block;
	margin-top: 3%;
	padding-left: 5%;
}

#TextosEncabezado p {
	font-size: 2em;
}

h1 {
	font-size: 2em;
}

.fichaCupones p {
	background-color: #C60C02;
	color: white;
	padding: 4%;
	witdh: 60%;
}

#MisCuponesTitulo {
	border-bottom: 0.20em solid #C60C02;
	padding-right: 9%;
	padding-bottom: 0.8%;
	position: relative;
	margin-top: 4%;
	display: flex;
	margin-bottom: 2%;
}

.fichaCupones {
	display: grid;
	flex-direction: column;
	background-color: #C60C02;
	width: 26%;
	height: 122%;
	text-align: center;
	margin-left: 7%;
	padding: 1%;
	margin-top: 6%;
	font-size: 120%;
}

footer {
	position: relative;
	bottom: 0em;
}

.CodigoCupon {
	font-size: 160%;
}

@media ( max-width : 1000px) {
	#Cupones {
		display: flex;
		flex-wrap: wrap;
		width: 120%;
		padding-bottom: 2%;
		justify-content: center;
	}
	#TextosEncabezado {
		margin-top: 10%;
	}
	.fichaCupones p {
		color: white;
		padding-bottom: 4%;
		width: 84%;
		height: 122%;
		padding-right: 6%;
		padding-top: 4%;
		text-align: center;
	}
	.fichaCupones {
		padding-right: 8%;
		margin-top: 6%;
		font-size: 143%;
		width: 86%;
	}
	#cajaSubseccion {
		width: 157%;
	}
}

@media ( max-width : 800px) {
	#Cupones {
		display: flex;
		flex-wrap: wrap;
		width: 70%;
		padding-bottom: 2%;
	}
	#TextosEncabezado {
		padding-top: 10%;
	}
	.fichaCupones {
		padding-bottom: 5%;
		width: 120%;
	}
	.fichaCupones p {
		background-color: #C60C02;
		color: white;
		padding-bottom: 4%;
		width: 108%;
		padding-right: 6%;
		padding-top: 4%;
		text-align: center;
	}
	#Estadisticas {
		top: 15%;
	}
}

@media ( max-width : 680px) {
	#Estadisticas {
		margin-top: 15%;
	}
	#Cupones {
		display: flex;
		flex-wrap: wrap;
		width: 92%;
		padding-bottom: 2%;
	}
	#TextosEncabezado {
		padding-top: 10%;
	}
	.fichaCupones {
		padding-bottom: 5%;
		width: 120%;
	}
	.fichaCupones p {
		background-color: #C60C02;
		color: white;
		padding-bottom: 4%;
		width: 108%;
		padding-right: 6%;
		padding-top: 4%;
		text-align: center;
	}
}