
.cajaSubseccion{
	padding:0%;
	width:65%;
	
	}
#caja0{
	height:65em;
}
 #Cupones{
	row-gap: 140%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
}
#TextosEncabezado{
    height: 17%;
    font-size: 120%;
    display: block;
    margin-top: 3%;
    padding-left:5%
}


 .fichaCupones p{
	background-color:#C60C02;
	color:white;
}
#MisCuponesTitulo{
    border-bottom: 0.20em solid #C60C02;
    padding-right: 9%;
    padding-bottom: 0.8%;
    position:relative;
    margin-top:4%;
    display: flex;
    margin-bottom: 2%;
    
}
.fichaCupones{
    display: grid;
    flex-direction: column;
    background-color: #C60C02;
    width: 80%;
    height:122%;
    text-align: center;
    margin-left:11%;
    padding:5%;
    margin-top:6%;
    font-size: 100%;
}

.CodigoCupon{
    font-size: 160%;
}



@media (max-width: 1000px) {
    #Cupones {
      grid-template-columns: repeat(2, 1fr);
      
	row-gap: 90%;
    }
    #TextosEncabezado {
    margin-top:10%;
    }
  }

  @media (max-width: 600px) {
    #Cupones {
        grid-template-columns: repeat(1, 1fr);
      }
  }