body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cajaSubseccion {
	padding: 0%;
	width: 65%;
}

#caja0 {

}

#Cupones {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	row-gap: 30%;
	width: 100%;
	grid-template-columns: repeat(4, 2fr);
}

#TextosEncabezado {
	height: 17%;
	font-size: 1em;
	display: block;
	margin-top: 3%;
	padding-left: 5%;
}

#TextosEncabezado p {
	font-size: 2em;
}

h1 {
	font-size: 2em;
}

.fichaCupones p {
	background-color: #C60C02;
	color: white;
}

#MisCuponesTitulo {
	border-bottom: 0.20em solid #C60C02;
	padding-right: 9%;
	padding-bottom: 0.8%;
	position: relative;
	margin-top: 4%;
	display: flex;
	margin-bottom: 2%;
}

.fichaCupones {
	display: grid;
	flex-direction: column;
	background-color: #C60C02;
	width: 80%;
	height: 122%;
	text-align: center;
	margin-left: 11%;
	padding: 5%;
	margin-top: 6%;
	font-size: 100%;
}

footer {
	position: relative;
	bottom: 0em;
}

.CodigoCupon {
	font-size: 160%;
}

@media ( max-width : 1000px) {
	#Cupones {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 50%;
	}
	#TextosEncabezado {
		margin-top: 10%;
	}
}

@media ( max-width : 600px) {
	#Cupones {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20%;
	}
	#TextosEncabezado {
		padding-top: 10%;
	}
}