a, a:hover, a:active, a:focus {
	all: unset;
	cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
footer{
    background-color: var(--bg-oscuro);
    color: var(--text-color);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    border-top: 0.16em solid var(--gray-border-color);
}
#logo_peque_footer{
	display:none;
}
.box{
    width: 90%;
    display:flex;
    justify-content: center;
    flex-wrap:no-wrap;
}
.box ul{
	width: 100%;
}
.box ul li{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .caja_logo{
	width: 30%;
}
.box ul li{
    width: 50%;
    font-size: 1.1rem; 
}

.box a:hover{
    color: var(--main-color);
}

#caja1 img{
    width: 60%;
}
#caja1{
    display: flex;
    flex-direction: row;
    border-bottom: 0.1em solid var(--main-color);
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 1%;
}
#caja1 ul li, #caja2 ul li{
    list-style: none;
}
.box ul {
    display: flex;
    flex-direction: row;
}
#caja2{
	font-size: 1.5em;
	padding-top: 1%;
}
#caja2 ul{
    display: flex;
    justify-content: center;
}

@media (max-width: 1590px) {
    header{
        padding: 15px 4%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
    
}

@media (max-width: 1350px) {
  
}


@media (max-width: 1280px) {
    
}


@media (max-width: 1090px) {
	footer .caja_logo{
	width: 20%;
	}
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 43vh;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar.open{
        right: 2%;
    }

    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

@media (max-width: 900px){
	footer .caja_logo{
	width: 15%;
	}
}

@media (max-width: 700px){
	.box ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	#caja1 ul li{
	padding: 2.5%}
	.caja_logo{
	  display: flex;
  align-items: center;
}
	footer .caja_logo{
	width: 45%;}

}
