@charset "ISO-8859-1";

.subcaja1 input, .subcaja3 input, .caja3 input, .caja input{
    border-radius: 2em;
    height: 35px;
    width: 20%;
}
.caja1 ul li{
    list-style: none;
    margin-bottom: 5%;
}
a:link{
	text-decoration:none;
	color:rgb(255, 255, 255);
}

h1{
   margin-bottom: -2%;
}
.caja3{
    margin-top: 10%;
}
.subcaja1{
    margin-bottom: 10%;
    margin-top: 10%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.subcaja1 img{
    width: 15%;
}
.form0{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.form1 img, .form2 img , .form3 img, .form4 img{
    margin-left: 2%;
    margin-top: 3%;
    width: 10%;
    height: 30px;
}
.form1, .form2, .form3, .form4{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.edit{
    display: flex;
    flex-direction: row;
}
.box0 label {
    width: 50%;
    margin-bottom: 2.5%;
}
.box0 input {
    width:90%;
    padding: 2%;
}
.box0 input, .form0 input{
    border-radius: 3em;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
}
/*BOTONES*/
.subcaja1 input, .caja3 input, .form5 input{
	text-align: center;
	color: white;
	background-color:#C60C02;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	border-radius: 0.35em ;
    border:#C60C02;
	padding: 2%;
	transition: all 0.5s;
	margin-top:9%;
}
.caja3 input{
	margin-top:5%;
}
.box0{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}