@charset "ISO-8859-1";
.subcaja3 input, .caja3 input, .caja input{
    border-radius: 2em;
    height: 35px;
    width: 20%;
    cursor:pointer;
}
.caja2{
	font-size:1.3em;
}
.caja1 ul li{
    list-style: none;
    margin-bottom: 5%;
}
.parte1 p, .caja3 p{
	margin-top:1%;
}
a:link{
	text-decoration:none;
	color:rgb(255, 255, 255);
}

h1{
   margin-bottom: -2%;
}
.caja3{
    margin-top: 10%;
}
.subcaja1{
    margin-bottom: 10%;
    margin-top: 10%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.subcaja1 img{
    width: 15%;
}
.form0{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.form1 img, .form2 img , .form3 img, .form4 img{
    margin-left: 2%;
    margin-top: 3%;
    width: 7%;
    height: 30px;
}
.form1, .form2, .form4{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.form3{
	display: flex;
    flex-direction: row;
    margin-bottom: 2.5%;
}
.edit{
    display: flex;
    flex-direction: row;
}
.box0 label {
    width: 50%;
    margin-bottom: 2.5%;
}
.box0 input {
    width:90%;
    padding: 2%;
}
.box0 input, .form0 input{
    border-radius: 3em;
    height: 38px;
    border: 1px solid rgb(0, 0, 0);
}
/*BOTONES*/
.caja3 input, .form5 input{
	color: white;
	background-color:#C60C02;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	border-radius: 0.35em ;
    border:#C60C02;
	transition: all 0.5s;
}
/*BOTON GUARDAR CAMBIOS*/
.form5 input{
	padding:1.5%;
	cursor:pointer;
}
.caja3 input{
	margin-top:2.5%;
	height:40px;
}
.subcaja1 input{
	margin-top:9%;
	margin-left:3%;
}
.boton_modificar{
	margin-top:5%;
	border-radius: 2em;
    width: 20%;
}
.modificar::before{
	content:'Modificar';
	color: white;
	background-color:#C60C02;
	padding:5%;
	border-radius: 0.35em ;
	cursor:pointer;
	-webkit-user-select: none;	
}
.modificar::-webkit-file-upload-button{
	visibility:hidden;
}
/*FIN BOTONES*/


.box0{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}