@charset "ISO-8859-1";
.subcaja3 input, .caja3 input, .caja input{
    border-radius: 2em;
    height: 35px;
    width: 20%;
    cursor:pointer;
}
.caja1 ul li{
    list-style: none;
    margin-bottom: 5%;
}
.parte1 p, .caja3 p{
	margin-top:1%;
}
a:link{
	text-decoration:none;
	color:rgb(255, 255, 255);
}

h1{
   margin-bottom: -2%;
}
.caja3{
    margin-top: 10%;
}
.subcaja1{
    margin-bottom:7%;
    margin-top: 7%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.subcaja1 img{
    width: 10%;
}
.form0{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.form1 img, .form2 img , .form3 img, .form4 img{
    margin-left: 2%;
    margin-top: 3%;
    width: 7%;
    height: 30px;
}
.form1, .form2, .form4{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
.form3{
	display: flex;
    flex-direction: row;
    margin-bottom: 2.5%;
}
.edit{
    display: flex;
    flex-direction: row;
}
.box0 label {
    width: 50%;
    margin-bottom: 2.5%;
}
.box0 input {
    width:90%;
    padding: 2%;
}
.box0 input, .form0 input{
    border-radius: 3em;
    height: 38px;
    border: 1px solid rgb(0, 0, 0);
}
/*BOTONES*/
.caja3 input, .form5 input{
	color: white;
	background-color:#C60C02;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	border-radius: 0.35em ;
    border:#C60C02;
	transition: all 0.5s;
}
.form5 input:hover{
	background: rgb(0, 0, 0);
	border:#C60C02;
	color:#C60C02;
}
/*BOTON GUARDAR CAMBIOS*/
.form5 input{
	padding:1.5%;
	cursor:pointer;
}
.caja3 input{
	margin-top:2.5%;
	height:40px;
}
.subcaja1 input{
	margin-top:8%;
	margin-left:3%;
	color:transparent;
	padding:4%;
	border-radius:0.35em;
}

/*FIN BOTONES*/
.box0{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}



@media screen and(max-width:480px){
	.caja2{
		width:70%;
	}
}





