header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	height: 4vh;
	padding: 1%;
	font-size: 2em;
}

header ul {
	display: flex;
	flex-direction: row;
	width: 100%;
}

header a {
	width: 15%;
}

header {
	height: 4vh;
}