@charset "ISO-8859-1";
#caja0{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.cajaPerfil ul li{
    list-style: none;
    margin: 15%;
    font-size:1.5em;
}
a::after{
	display:none;
	content: "";
	position: absolute;
	color: red;
	border-top-style: solid;
	border-top-width: 0.125em;
}
.cajaPerfil{
    padding: 5%;
    width: 35%;
    background-color: #141414;
    color: rgb(255, 255, 255);
}
.cajaSubseccion{
    padding: 5%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
/*aqui irán todas las secciones de jsp */
}

/*RESPONSIVE*/
	@media screen and (max-width: 768px) {
   	 	#caja0 {
      		display:flex;
      		flex-direction:column;
    }
  }
  
  @media screen and (max-width: 480px) {
    #caja0 {
      display:flex;
      flex-direction:column;
    }
    .cajaPerfil{
    	width:100%;
    	padding:5%;
    }
    .cajaSubseccion{
    	width:100%;
    	padding:5%;
    }
    .cajaPerfil ul{
    	display:flex;
    	flex-direction:row;
    	padding:2%;
    }
    .cajaPerfil ul li{
    	margin:3%;
    	font-size:1.1em;
    }
  }
  

