
.info {
width: 30%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

#ranking img {
	width: 80px;
	height: 80px;
}

#ranking p {
	width: 100%;
	text-align: center;
}

.superior {
	color: white;
	display: flex;
	justify-content: center;
	/*border: #000 solid 1px;*/
}

.lateral {
	width: 100%;
	height: 100%;

	
}
.lateral ul{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	width: 100%
}

#podio {
	position: static;
	display: flex;
	flex-direction: row;
	align-content: center;	
	max-height:30vm;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	border: #074 solid 3px;
}
#plata{
	order:1;
}
#bronce{
	order:3;
}
#oro{
	order:2;
}
.oro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	border: 3px solid #ffd700;
	height: 5em;
	width: 8em;
	/*padding: 0 auto;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: x-large;
	font-weight: 700;
	background-color: #F5DF68;
}

.plata {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	border: 3px solid #C0C0C0;
	height: 5em;
	width: 8em;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: large;
	font-weight: 600;
	background-color: #D8D8D8;
}

.bronce {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	border: 3px solid #8F5732;
	height: 5em;
	width: 8em;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	font-size: large;
	font-weight: 500;
	background-color: #C68358;
}

#finalistas {
	color:#fff;
	/*border: #000 solid 1px;*/
}

main{
	margin-top:20%
}

ol li{
	border: 1px solid white;
}
li{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	
}
