@charset "ISO-8859-1";
#cajita2{
	margin-top:3%;
}
.title{
    font-size: 1.2em;
    text-decoration: underline;
}
#subcaja2{
    border-bottom: #C60C02 3px solid;
    margin-top:1.5%;
}
#subcaja2 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0%;
}
.menu2{
    display: flex;
    flex-direction: row;
}
.menu1{
    width: 65%;
}
.menu3{
    width: 25%;   
}
.menu3 li{
    text-align: center;
    margin-right: 18%;
}
.menu3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.subcaja2{
    border-bottom: 4px solid #C60C02 ;
}
.subcaja2 ul{
    display: flex;
    flex-direction: row;
    padding-left:0%;
}
.dife ul li{
    list-style: none;
    margin-right:20%;
}
.subcaja2 .dif ul li{
    margin-right: 20%;
    list-style: none;
}
.subcaja3{
    display: flex;
    flex-direction: row;
}
.info1{
    width:50%;
}
.info{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: center;
}
.info input{
    text-align: center;
    border-style: none;
}
.cajita{
    display: flex;
    flex-direction: row;
}
.cajita p{
	display:flex;
    border-style: none;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 5%;
}
.cajita label{
    width: 30%;
    border-style: none;
    margin-bottom: 3%;
    margin-top: 3%;
}
/*botones*/
.subcaja4 input{
    margin-top: 2.5%;
    text-align: center;
    color: white;
    background-color:#C60C02;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 0.35em ;
    border:#C60C02;
    padding: 1%;
    transition: all 0.5s;
    cursor:pointer;
}
