#contenedor_salas {
	display: flex;
	justify-content: center;
	font-size: 0.9em;
	font-family: Poppins;
}
#contenedor_salas h2{
	font-size: 1.2em;
}
#contenedor_salas_wrapper {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2%;
}

.caja_sala {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22.5%;
	margin-bottom: 1%;
	background-color: wheat;
}

.caja_img {
	width: 100%;
}

.caja_img img {
	width: 100%;
	height: auto;
}

.caja_sinopsis, .caja_sinopsis{
	width: 90%;
}

.caja_sinopsis {
	display: none;
}

.caja_etiquetas {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
}

.etiqueta p {
	font-size: 1em;
}

.etiqueta {
	margin: 0.3%;
	display: flex;
	align-items: center;
	justify-content: center; flex-direction : row;
	height: 60%;
	width: 32%;
	flex-direction: row;
}
.modalidad{
	margin-left: 5%;
}

.caja_icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35%;
	height: 100%;
}
.tematica_larga{
	margin-right: 5%;
}
.tematica_larga .caja_text{
	width: 60%;
}
.caja_text{
	margin-left: 4%;
	text-align: left;
}

.caja_icon{
	width: 27.5%;
}

.caja_organizar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.caja_organizar button {
	width: 55%;
	margin-top: 7%;
	margin-bottom: 5%;
}