#contenedor_salas{
    display: flex;
    justify-content: center;
}
#contenedor_salas h2{
    font-size: 1em;
}
#contenedor_salas_wrapper{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3%;
}
.caja_sala{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.5%;
    background-color: wheat;
}
.caja_img{
    width: 100%;
}
.caja_img img{
    width: 100%;
    height: auto;
}
.caja_sinopsis, .caja_sinopsis, .caja_etiqueta{
    width: 90%;
}
.caja_sinopsis{
    display: none;
}

.caja_etiquetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.caja_etiqueta div{
    width: 10%;
}
.etiqueta p{
    font-size: 1em;
}
.etiqueta{
    margin: 0.25%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 10%;
    height: 60%;
    width: 25%;
}
.etiqueta div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.icon{
    width: 25%;
}
.tematica div img {
    width: 37.5%;
}
.modalidad div img{
    width: 35%;
}
.modalidad{
	margin-left: 10%;
}
.caja_organizar{
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.caja_organizar button{
    width: 55%;
    margin-top: 7%;
    margin-bottom: 5%;
}