#contenedor_buscador {
	margin-top: 1%;
	margin-bottom: 1%;
}

#wrapper_buscador, #wrapper_filtros {
	display: flex;
	justify-content: center;
}

#caja_buscador {
	background-color: white;
	display: flex;
	justify-content: center;
	width: 50%;
	border-color: gray;
	border-style: solid;
	border-radius: 0.5em;
	border-width: 0.1em;
	padding: 0.2%;
	margin-bottom: 1%;
}

#caja_buscador img {
	margin-right: 0.2%;
	background-color: white;
	font-size: 1.75em;
}

#buscar {
	font-size: 1.8em;
	width: 95%;
	outline: none;
	border-style: none;
	border-left-style: solid;
	border-left-color: gray;
	padding-left: 1%;
}

#caja_filtros {
	font-size: 1.8em;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
}

select {
	background-color: #303136;
	color: white;
	padding: 0.35%;
	padding-left: 1%;
	padding-right: 0.5%;
	border-radius: 0.4em;
	border-width: 0.2em;
}

select:hover {
	border-color: #29fd53;
}

option {
	line-height: 1em;
	border-color: #29fd53;
}

option:hover {
	background-color: #353535;
	color: #303136;
}

select:hover {
	
}

#ColorPrincipal {
	color: #29fd53; /*verde*/
	color: #353535; /*muy gris*/
	color: #303136; /*gris*/
}

#contenedor_buscador {
	background-color: #303136;
	padding: 2%;
}

#caja_titulo_resultados h2 {
	font-size: 1.75em;
	margin-top: 0.5%;
	margin-bottom: 1%;
	text-align: center;
	font-family: Poppins;
}

#contenedor_salas {
	display: flex;
	justify-content: center;
	font-size: 0.9em;
	font-family: Poppins;
}

.caja_titulo {
	margin-top: 4%;
	margin-bottom: 4%;
}

#contenedor_salas h2 {
	text-align: center;
	font-size: 2em;
}

#contenedor_salas_wrapper {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2%;
}

.caja_sala {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22.5%;
	margin-bottom: 1%;
	background-color: wheat;
	border-radius: 1em;
}
.caja_sala a, a:hover, a:active, a:focus {
  all: unset;
  color:white;
  cursor: pointer;
}
.caja_img {
	width: 100%;
	
}

.caja_img img {
	width: 100%;
	height: auto;
	border-radius: 1em;
}

.caja_sinopsis, .caja_sinopsis {
	width: 90%;
}

.caja_sinopsis {
	display: none;
}

.caja_etiquetas {
	font-size: 1.75em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 95%;
}

.etiqueta p {
	font-size: 1em;
}

.etiqueta {
	margin: 0.3%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 60%;
	width: 32%;
	flex-direction: row;
}

.modalidad {
	margin-left: 5%;
}

.caja_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35%;
	height: 100%;
}

.tematica_larga {
	margin-right: 5%;
}

.tematica_larga .caja_text {
	width: 60%;
}

.caja_text {
	margin-left: 4%;
	text-align: left;
}

.caja_icon {
	width: 27.5%;
}

.caja_boton {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.caja_boton a {
	width: 55%;
	margin-top: 10%;
	margin-bottom: 6%;
	text-align: center;
	font-size: 1.8em;
	padding: 2%;
	background-color: black;
	border: 0.1em solid white;
	border-radius: 0.3em;
}